{% extends "catalog/base.html" %}
{% block content %}
    <div class="row pt-2">
        <div class="shadow p-3 mb-3 bg-light rounded">
            <h2 style="font-weight:bold;font-size:34px;text-decoration: underline;">My Catalogs</h2>
        </div>
    </div>
    <div class="container">
        {% for catalog in catalogs %}
            <div class="row align-items-center">
                <div class="shadow p-3 mb-3 bg-dark rounded">
                    <style>
                    .shadow {
                        background-color : #FBFFFE !important;
                        color: #060007;
                        margin: 0.5rem 0 1rem;
                    }
                    td { 
                        padding-right: 10px;
                    }
                    </style>
                    <h3 class="text" style="font-weight:bold;font-size:28px;"> {{ catalog.name }} </h3> 
                    <p class="text"> <small> <em> Created: </em> {{ catalog.created_at }} | <em> Updated: </em> {{ catalog.updated_at }} </small> <br> By: {{ catalog.created_by.username }} </p>
                    <hr>
                    <p class="text"> {{ catalog.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}