{% extends "catalog/base.html" %}
{% block content %}
    <div class="row pt-2">
        <div class="shadow p-3 mb-3 bg-light rounded">
            <h1 class="page-header pt-3 pb-3">My Catalogues:</h1>
        </div>
    </div>
    <div class="container px-4 pb-5">
        {% for post in posts %}
            <div class="row">
                <div class="shadow p-3 mb-3 bg-dark rounded">
                    <style>
                    .shadow {
                        background-color : #989797 !important;
                    }
                    </style>
                    <h3 class="text-dark"> {{ post.title }}</h3>
                    <p class="text-body"> Created: {{ post.created }} </p>
                    <p class="text-body"> Updated: {{ post.updated }} </p>
                    <p class="text-body"> Description: {{ post.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}