{% extends "catalog/base.html" %}
{% block content %}
    <div class="row pt-2">
        <div class="shadow p-3 mb-3 bg-light rounded">
            <h2 style="font-weight:bold;font-size:34px;text-decoration: underline;color: #060007">Home page!</h2>
            <p class="text pt-5 " style="font-size: medium;color: #060007">*This page will be the page with user information!
            This will also be the page the user will be redirected to after they login.</p>
        </div>
    </div>
{% endblock content %}