{% extends "catalog/base.html" %}
{% block content %}
    <style>
        .record-form label {
            padding: 7px;
            color: #060007;
            font-size: medium;
        }

        .shadow {
            background-color: #FBFFFE !important;
            color: #060007;
            margin: 0.5rem 0 1rem;
        }

        td {
            padding-right: 10px;
        }
    </style>
    <div class="row pt-2">
        <div class="shadow p-3 mb-3 bg-light rounded">
            <h2 style="font-weight:bold;font-size:30px;text-decoration: underline;color: #060007">Records in the
                catalogue: </h2>
        </div>
    </div>

    {% if myFilter %}
        <div class="row">
            <div class="shadow p-3 mb-3 bg-dark rounded">
                <form class="record-form" method="get">
                    {% csrf_token %}
                    <label>Name:
                        {{ myFilter.form.name }}
                    </label>
                    <label>Description contains:
                        {{ myFilter.form.description }}
                    </label>
                    <label>Condition description contains:
                        {{ myFilter.form.condition_description }}
                    </label>
                    <label for="myCatalog">My Catalog:
                        {{ myFilter.form.my_catalog }}
                    </label>
                    <label>Manufacturer:
                        {{ myFilter.form.manufacturer }}
                    </label>
                    <label for="conditionRating">Condition Rating:
                        {{ myFilter.form.condition_rating }}
                    </label>

{#                    <label for="date_start">Posted at:#}
{#                        {{ myFilter.form.created_at }}#}
{#                    </label>#}
{#                    <label for="date_end">Updated at:#}
{#                        {{ myFilter.form.updated_at }}#}
{#                    </label>#}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <br>
    {% endif %}

    <div class="container">
        {% for record in records %}
            <div class="row align-items-center">
                <div class="shadow p-3 mb-3 bg-dark rounded">
                    <style>
                        .shadow {
                            background-color: #FBFFFE !important;
                            color: #060007;
                            margin: 0.5rem 0 1rem;
                        }

                        td {
                            padding-right: 10px;
                        }
                    </style>
                    <h3 class="text" style="font-weight:bold;font-size:28px;"> {{ record.name }}</h3>
                    <p class="text"><small> <em> last updated on: </em> {{ record.updated_at }} | <em>
                        created on: </em> {{ record.created_at }} </small></p>
                    <hr>
                    <p class="text"> {{ record.description }}</p>
                    <hr>
                    <table>
                        <tr>
                            <td style="text-align: left;"><strong>Creation year: </strong></td>
                            <td style="text-align: left;">  {{ record.creation_date }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Acquisition year: </strong></td>
                            <td style="text-align: left;">  {{ record.acquisition_date }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Catalog: </strong></td>
                            <td style="text-align: left;"> {{ record.my_catalog.name }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Manufacturer: </strong></td>
                            <td style="text-align: left;">  {{ record.manufacturer.name }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Condition Rating: </strong></td>
                            <td style="text-align: left;">  {{ record.condition_rating }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Condition Summary: </strong></td>
                            <td style="text-align: left;">  {{ record.condition_description }} </td>
                        </tr>
                    </table>
                    <hr>
                    <p><strong> Provenance History </strong></p>
                    <table style="width:100%">
                        <colgroup>
                            <col span="1" style="width: 40%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 15%;">
                        </colgroup>
                        <tr>
                            <th> Date</th>
                            <th> Owner</th>
                            <th> Nation</th>
                            <th> Continent</th>
                        </tr>
                        {% for prov in provenances %}
                            {% if prov.record.id == record.id %}
                                <tr>
                                    <!-- <td> {{ prov.date_start|date:'Y-m-d' }} - {{ prov.date_end|date:'Y-m-d'}} </td> -->
                                    <td> {{ prov.date_start }} - {{ prov.date_end }} </td>
                                    <td> {{ prov.owner }} </td>
                                    <td> {{ prov.nation }} </td>
                                    <td> {{ prov.continent }} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <style>
                        .text {
                            color: #060007 !important;
                            font-weight: 400;
                        }
                    </style>
                </div>
            </div>
        {% endfor %}
        <div class="row align-items-center" style="padding-bottom: 50px; font-size: 20px">
            <div class="shadow p-3 mb-3 rounded" style="background-color: #FBFFFE;">
                <a href="/catalog"> <-- Back to catalog list</a>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}