{% extends "catalog/base.html" %}
{% block content %}
    <style>
    .card {
        color: #060007;
    }
    </style>
    <div class="row pt-2">
        <div class="shadow p-3 mb-3 bg-light rounded">
            <h2 style="font-weight:bold;font-size:30px;text-decoration: underline;color: #060007">Records in the catalogue: </h2>
        </div>
    </div>

    {% if myFilter %}
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form class="form" style="padding: 10px;font-size: medium" method="get">
                    {% csrf_token %}
                    <div style="width:100%">
                        <label>Name:
                            <input type="text" name="name" id="name">
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="myCatalog">My Catalog:</label>
                        <select name="myCatalog" id="myCatalog">
                            <option disabled selected value> -- select an option -- </option>
                            {%  for cat in catalogs %}
                                <option value="{{ cat }}"> {{ cat }}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="manufacturer">Manufacturer:</label>
                        <select name="manufacturer" id="manufacturer">
                            <option disabled selected value> -- select an option -- </option>
                            {%  for man in manufacturers %}
                                <option value="{{ man }}"> {{ man }}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="conditionRating">Condition Rating:</label>
                        <input type="number" min="0" max="5">
                    </div>
                    <div>
                        <label for="date_start">Date start is greater than or equal to:</label>
                        <input type="date" name="date_start" id="date_start">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="date_end">Date start is less than or equal to:</label>
                        <input type="date" name="date_end" id="date_end">
                    </div>
                    <div>
                        <label>Description contains:
                            <input type="text" name="description" id="description">
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>Condition description contains:
                            <input type="text" name="condition_description" id="condition_description">
                        </label>
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>

            </div>
        </div>

    </div>
    <br>
    {% endif %}

    <div class="container">
        {% for record in records %}
            <div class="row align-items-center">
                <div class="shadow p-3 mb-3 bg-dark rounded">
                    <style>
                        .shadow {
                            background-color: #FBFFFE !important;
                            color: #060007;
                            margin: 0.5rem 0 1rem;
                        }

                        td {
                            padding-right: 10px;
                        }
                    </style>
                    <h3 class="text" style="font-weight:bold;font-size:28px;"> {{ record.name }}</h3>
                    <p class="text"><small> <em> Updated: </em> {{ record.last_modified }} | <em>
                        Created: </em> {{ record.creation_date }} </small></p>
                    <hr>
                    <p class="text"> {{ record.description }}</p>
                    <hr>
                    <table>
                        <tr>
                            <td style="text-align: left;"><strong>Date: </strong></td>
                            <td style="text-align: left;">  {{ record.date_start }} - {{ record.date_end }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Catalog: </strong></td>
                            <td style="text-align: left;"> {{ record.my_catalog.name }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Manufacturer: </strong></td>
                            <td style="text-align: left;">  {{ record.manufacturer.name }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Condition Rating: </strong></td>
                            <td style="text-align: left;">  {{ record.condition_rating }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>Condition Summary: </strong></td>
                            <td style="text-align: left;">  {{ record.condition_description }} </td>
                        </tr>
                    </table>
                    <hr>
                    <p><strong> Provenance History </strong></p>
                    <table style="width:100%">
                        <colgroup>
                            <col span="1" style="width: 40%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 15%;">
                        </colgroup>
                        <tr>
                            <th> Date</th>
                            <th> Owner</th>
                            <th> Nation</th>
                            <th> Continent</th>
                        </tr>
                        {% for prov in provenances %}
                            {% if prov.record.id == record.id %}
                                <tr>
                                    <!-- <td> {{ prov.date_start|date:'Y-m-d' }} - {{ prov.date_end|date:'Y-m-d'}} </td> -->
                                    <td> {{ prov.date_start }} - {{ prov.date_end }} </td>
                                    <td> {{ prov.owner }} </td>
                                    <td> {{ prov.nation }} </td>
                                    <td> {{ prov.continent }} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <style>
                        .text {
                            color: #060007 !important;
                            font-weight: 400;
                        }
                    </style>
                </div>
            </div>
        {% endfor %}
        <div class="row align-items-center" style="padding-bottom: 50px; font-size: 20px">
            <div class="shadow p-3 mb-3 rounded" style="background-color: #FBFFFE;">
                <a href="/catalog"> <-- Back to catalog list</a>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}