{% extends "catalog/base.html" %}
{% block content %}
    <h1 class="text py-3 pt-4">Update provenance:</h1>
    <style>
        .text {
            font-size: 40px;
            font-weight: bold;
            color: #060007;
        }
    </style>
    <div class="shadow p-3 mb-3 bg-light rounded">
        <form class="form" method="POST" action="">
            {% csrf_token %}
            <p><label for="created_by">The record corresponding to this provenance:</label> {{ form.record }}</p>

            <p><label for="description">Date:</label> {{ form.date }}</p>

            <p><label for="description">Owner:</label> {{ form.owner }}</p>

            <p><label for="description">Nation:</label> {{ form.nation }}</p>

            <input type="submit" name="Submit"> <p></p>
        </form>
        <style>
            .form {
                color: #060007;
            }
        </style>
    </div>
    <div>
        <a class="btn btn-secondary" href="/search">Back to Record List</a>
        <p></p>&nbsp;
    </div>
{% endblock content %}